[Unit]
Description=Neurolibre preview server
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/full-stack-server/api
Environment="PATH=$PATH:/home/ubuntu/venv/neurolibre/bin"
Environment=GIT_PYTHON_GIT_EXECUTABLE=/usr/bin/git
ExecStart=/home/ubuntu/venv/neurolibre/bin/gunicorn --workers 4 --bind unix:/home/ubuntu/full-stack-server/api/neurolibre_preview_api.sock -m 007 wsgi_preview:app
Restart=always

[Install]
WantedBy=multi-user.target