[Unit]
Description=NeuroLibre myst CDN
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/DATA/myst
EnvironmentFile=/etc/default/celery
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:${VENV_PATH}/bin:${NODE_PATH}"
Environment=GIT_PYTHON_GIT_EXECUTABLE=/usr/bin/git
ExecStart=/bin/sh -c '${CUSTOM_START} myst start --execute --headless'
Restart=always

[Install]
WantedBy=multi-user.target