[Unit]
Description=Neurolibre production server
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/full-stack-server/api
Environment="PATH=/home/ubuntu/venv/neurolibre/bin"
ExecStart=/home/ubuntu/venv/neurolibre/bin/gunicorn --workers 4 --bind unix:/home/ubuntu/full-stack-server/api/neurolibre_preprint_api.sock -m 007 wsgi_production:app
Restart=always

[Install]
WantedBy=multi-user.target