[Unit]
Description=Neurolibre Task Manager
After=network.target

[Service]
Type=forking
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/full-stack-server/api
EnvironmentFile=-/etc/default/celery
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:${VENV_PATH}/bin"
Environment=GIT_PYTHON_GIT_EXECUTABLE=/usr/bin/git
Environment=CELERY_CREATE_DIRS=1
ExecStart=/home/ubuntu/full-stack-server/api/start_celery.sh ${CELERY_BIN} -A ${CELERY_APP} multi start ${CELERYD_NODES} --loglevel=${CELERYD_LOG_LEVEL} --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} ${CELERYD_OPTS}
ExecStop=/home/ubuntu/full-stack-server/api/start_celery.sh ${CELERY_BIN} -A ${CELERY_APP} multi stopwait ${CELERYD_NODES}
ExecReload=/home/ubuntu/full-stack-server/api/start_celery.sh ${CELERY_BIN} -A ${CELERY_APP} multi restart ${CELERYD_NODES} --loglevel=${CELERYD_LOG_LEVEL} --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} ${CELERYD_OPTS}
Restart=on-failure

[Install]
WantedBy=multi-user.target