AUTH_KEY=/path/to/key/file
GH_BOT=
OAI_TOKEN=
DOCKER_PRIVATE_REGISTRY_USERNAME=
DOCKER_PRIVATE_REGISTRY_PASSWORD=
# SMTP2GO Configuration
SMTP2GO_HOST=mail.smtp2go.com
SMTP2GO_PORT=2525
SMTP2GO_USERNAME=your_smtp2go_username
SMTP2GO_PASSWORD=your_smtp2go_password