AUTH_KEY=/path/to/key/file
GH_BOT=
OAI_TOKEN=
DOCKER_PRIVATE_REGISTRY_USERNAME=
DOCKER_PRIVATE_REGISTRY_PASSWORD=
# Amazon SES Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SES_REGION=us-east-1