DOCKER_PRIVATE_REGISTRY_USERNAME=value
DOCKER_PRIVATE_REGISTRY_PASSWORD=value
ZENODO_API=value
AUTH_KEY=/path/to/passwd/file
GH_BOT=value
TEST_API_USER=value
TEST_API_PASS=value
OAI_TOKEN=value
GROQ_API_KEY=value
# Amazon SES Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SES_REGION=us-east-1