DOCKER_PRIVATE_REGISTRY_USERNAME=value
DOCKER_PRIVATE_REGISTRY_PASSWORD=value
ZENODO_API=value
AUTH_KEY=/path/to/passwd/file
GH_BOT=value
TEST_API_USER=value
TEST_API_PASS=value
OAI_TOKEN=value
GROQ_API_KEY=value