DOCKER_PRIVATE_REGISTRY_USERNAME=value
DOCKER_PRIVATE_REGISTRY_PASSWORD=value
ZENODO_API=value
AUTH_KEY=/path/to/passwd/file
GH_BOT=value
TEST_API_USER=value
TEST_API_PASS=value
OAI_TOKEN=value
GROQ_API_KEY=value
# SMTP2GO Configuration
SMTP2GO_HOST=mail.smtp2go.com
SMTP2GO_PORT=2525
SMTP2GO_USERNAME=your_smtp2go_username
SMTP2GO_PASSWORD=your_smtp2go_password